body{

    background-color: #6f3000;   
    z-index: -1;
}
#grass{
	/*background: ;*/
	position: absolute;
	height: 500px;
	width: 1080px;
	z-index: -1;
}
#basket{
    position: absolute;
    bottom: 35px;
    right: 20px;
    height: 100px;
    width: auto;
}
#weed1{
	position: absolute;
    top: 50px;
    right: 400px;
    height: 100px;
    width: auto;
}
#weed2{
	position: absolute;
    top: 10px;
    left: 200px;
    height: 100px;
    width: auto;
}
#weed3{
	position: absolute;
    top: 150px;
    left: 400px;
    height: 100px;
    width: auto;
}
#weed4{
	position: absolute;
    top: 200px;
    right: 250px;
    height: 100px;
    width: auto;
}
#weed5{
	position: absolute;
    bottom: 50px;
    left: 250px;
    height: 100px;
    width: auto;
}

#scoreBoard{
	color: white;
	position: absolute;
	left: -100px;
}